
body {
    background-color: white;   /* light blue background */
    font-family: Arial, sans-serif;
    
}


.container {
    width: 20%;
    margin: 20px auto;
    background: lightblue;
    padding: 20px 30px;
    border-radius: 5px;
    

h1 {
    text-align: center;
    color: DodgerBlue;
    margin-bottom: 20px;
}


form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


button, input[type="submit"] {
    background-color: #4CAF50;
    color: green;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color:grey;
}

table th {
    background-color:Gray;
    color: white;
    padding: 10px;
}

table td {
    border: 1px solid Gray;
    padding: 8px;
}

